APScheduler==3.6.3
asgiref==3.2.10
attrs==20.2.0
certifi==2020.6.20
cffi==1.14.3
cryptography==3.2
decorator==4.4.2
Django==3.1.1
django-admin-sortable==2.2.3
django-ckeditor==6.0.0
django-js-asset==1.2.2
django-telegrambot==1.0.1
djangorestframework==3.11.1
iniconfig==1.0.1
packaging==20.4
Pillow==8.0.1
pluggy==0.13.1
py==1.9.0
pycparser==2.20
pyparsing==2.4.7
pytest==6.1.0
pytest-django==3.10.0
python-telegram-bot==13.0
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
tornado==6.0.4
tzlocal==2.1
